.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}
.card-img-top {
  width: 20vw;
  height: 30vh;
}
.card {
  margin: 30px;
}
.next {
  position: fixed;
  top: 30vh;
  left: 3vw;
}
.prev {
  position: fixed;
  top: 30vh;
  right: 3vw;
}